venv/
backend/venv/
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.db
db.sqlite3
media/
*.log
.env
.env.*
!.env.example
venv/
env/
*.egg-info/
dist/
build/
backend/apps/utils/service_account.json
**/service_account*.json